@if(isLoading()){
    <div class="w-screen h-screen bg-black opacity-90 fixed z-[9999] flex items-center justify-center">
        <app-load />
        <p class="connecting absolute bottom-5 mx-auto text-white">Connecting<span class="dots"></span></p>
    </div>

}

@if(showIntroOverlay){
    <div class="z-[9999] intro-overlay fixed inset-0 flex items-center justify-center 
        bg-black/80 text-white text-2xl font-semibold cursor-pointer select-none
        transition-opacity duration-700 z-40"  
        (click)="hideIntroOverlay()">
        <span class="animate-pulse">Haz click para continuar</span>
    </div>
}
    
<app-left-sidebar  (filterChange)="sendEvent($event)"/>
<app-map (getQuestion)="getQuestion($event)"  />
<app-notification/>
<app-right-sidebar/>
<!-- <app-search-bar/> -->

<app-mini-game  />
  
<audio #audioPlayer [src]="audioUrl" loop muted volume="0.1"></audio>

<div *ngIf="showUnmutePrompt" class="unmute-overlay"></div>

